@model ProyectoPr5.DAL.Usuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}

<h2>Detalle del Usuario</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal col-lg-12" >
        <dt>
            @Html.DisplayName("Cedula:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayName("Id del Rol:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRol)
        </dd>

        <dt>
            @Html.DisplayName("Nombre:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Telefono:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayName("Correo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Rol", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Atras", "Index")
</p>
